export(z_test_BFF)
export(t_test_BFF)
export(chi2_test_BFF)
export(f_test_BFF)


importFrom("grDevices", "adjustcolor", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "plot", "rect")
import(BSDA)
import(hypergeo)
import(ggplot2)
import(gsl)
import(stats)
