export(z.test.BFF)
export(t.test.BFF)
export(chi2.test.BFF)
export(f.test.BFF)


importFrom("grDevices", "adjustcolor", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "plot", "rect")
import(BSDA)
import(hypergeo)
import(ggplot2)
import(Matrix)
import(gsl)
